.about {
	align-items: center;
	justify-content: center;
	place-items: center;
	font-family: "DotGothic16", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
	box-shadow:0 0 20px #71d2ff;
}

.about h4{
	box-shadow: #e6f7fd 0px 0px 10px;
}

.follow{
	margin-top: 10px;
}
.mogumo {
  width: 30%;
  border-radius: 50%;
  box-shadow: 0em 0em 30px #71d2ffaa;
}

a {
  color: white;
}

.hobby,
.like{
  display: inline-block;
  transition: transform 0.5s ease;
}
.hobby:hover {
  transform: scale(1.2);
  color: rgb(255, 253, 228);
}
.giga:hover {
  transform: scale(1.2);
  color: rgb(255, 251, 12);
}
.reol:hover {
  transform: scale(1.2);
  color: rgb(182, 137, 255);
}
.dustcell:hover {
  transform: scale(1.2);
  color: rgb(106, 255, 210);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.abouttitle span {
  display: inline-block;
  animation: bounce linear 1;
}

.sns-link{
	width: 150px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 1px 20px 20px 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

.sns-link i{
	margin: 0px 10px 0px 10px;
}

.sns-link i:hover{
	transform: scale(1.2);
	color: rgb(222, 251, 255);
}

.dotcat{
	position: fixed;
	bottom: 0px;
	width: 60px;
}

@media(max-width: 450px){
	 .about {
		margin: 20px;
		max-width: 100%;
	 }
	
}