.main {
	margin: 0;
	padding: 0;
  width: 90vw;
  height: 90vh;
	overflow: hidden;
  background-image: url(girl.png);
  background-repeat: no-repeat;
}

.contents {
  position: absolute;
}

.contents li {
  list-style: none;
  color: white;
}

.contents li:hover {
  filter: drop-shadow(0 0 0.5em #ffffffaa);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
.toHome {
  position: relative;
  bottom: 10px;
  border-radius: 50%;
}
.toHome:hover {
  filter: drop-shadow(0 0 1em #ffffff);
}
