.main {
  margin: 0;
  padding: 0;
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  font-family: "DotGothic16", sans-serif;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main h3 {
  background-color: rgba(175, 250, 255, 0.2);
}

.background {
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 26, 24);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.dotcat {
  position: absolute;
  right: 5%;
  z-index: 5;
}

.contents {
  z-index: 99;
  position: absolute;
}

.contents li {
  list-style: none;
  color: white;
  background-color: rgba(175, 250, 255, 0.2);
  margin: 10px;
  padding: 5px 10px;
}

.contents li:hover {
  filter: drop-shadow(0 0 0.5em #ffffffaa);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
.toHome {
  position: relative;
  bottom: 10px;
  border-radius: 50%;
  z-index: 5;
}
.toHome:hover {
  filter: drop-shadow(0 0 1em #ffffff);
}

@media (max-width: 1000px) {
  .contents ul {
    padding: 0px;
  }
  .dotcat {
    right: 10%;
  }
	h1{
		width: 0%;
	}
}

h1 {
  font-weight: bold;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 30vh;
  letter-spacing: 1vw;
  position: absolute;
  top: 15vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: url("scroll.jpg");
  background-size: auto 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 13s linear infinite;
}

h1:nth-child(2) {
  top: 50vh;
}

.backgroundtext{
	opacity: 0.5;
}

@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}
